body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url("./images/pointer.svg") 0 0, auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --green: #d4ffb2;
  --purple: #b6adf3;
  --button: #593c63;
  --button-text: #f9f7f8;
  /* --paragraph: #8f7a98; */
  --paragraph: black;
}
